body{
    background-color: rgb(225, 220, 245);
    text-align: center;
    padding: 10px;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #e7abe9;
    color: white;
  }
button[type=submit] {
    background-color: #9e4caf;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }